*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/
html,
body {
  height: 100%;
  line-height: 1.5;
  background: #1A0A03;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/
/*-------------------------------------------------BEM--------------------------------------------------------------------*/
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  min-width: 59px;
  padding: 15px 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*-----------------------------------------header----------------------------------------------------------------------------*/
.header__container {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  margin-right: 15px;
}

.header__logo_1 {
  margin-top: 12.5px;
  margin-left: 20px;
}

@media (max-width: 909.97px) {
  .header__logo_1 {
    display: none;
  }
}

.header__menu {
  width: 625px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  display: inline-block;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #7A66CC;
}

/*---------------------------------------------------------------------------------------------------------------------*/
.newSingle__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  padding-top: 412px;
  margin-bottom: 10px;
}

.newSingle__songName {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.5;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  margin-bottom: 50px;
}

.newSingle__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newSingle__playPause img {
  width: 25px;
  height: 22px;
}

.newSingle__bar {
  width: 888px;
  height: 2px;
  background-color: aqua;
  border-radius: 5px;
}

.bar__progress {
  background-color: #7A66CC;
  border-radius: 5px;
  height: 2px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
