*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/

$maxWidth: 1140;
$Purple: #7A66CC;
$Black: #1A0A03;
$White: #FFFFFF;
$Poppins: 'Poppins', sans-serif;



html,
body{
    height: 100%;
    line-height: 1.5;
    background: $Black; //для теми
    font-weight: 600;
    font-size: 18px;
    color: $White;
    font-family: $Poppins;
    
}
[class*="__container"]{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/*-------------------------------adaptivValue----------------------------------------------------------------------*/                                 
@mixin adaptivValue ($property, $stratSize, $miniSize){
    $addSize: $stratSize - $miniSize;
    #{$property}: calc(#{$miniSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
/*-------------------------------------------------BEM--------------------------------------------------------------------*/
.button{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    //color: $White;
    //background-color: $White;
    min-width: 59px;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    &:hover{
        //color: $Orange;
        //background-color: $White;
    }
}
.title-before{
        font-weight: 700;
        font-size: 48px;
        line-height: 72/48 *1;
        margin-bottom: 60px;
        padding-left: 84px;
        position: relative;
        &::before{
            content: "";
            width: 64px;
            height: 31px;
            position: absolute;
            top: 50%;
            left: 0;
            background: url('../images/brightLights/time.png') 0 0 / 100% no-repeat;
            transform: translateY(-50%);
            
        }
}
/*-----------------------------------------header----------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    &__container {
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__logo {
        margin-right: 15px;
        &_1{
            margin-top: 12.5px;
            margin-left: 20px;
            @media (max-width: 909.97px){
                display: none;
            }
        }
    }

    &__menu {
        width: 625px;
    }
}
.menu {

    &__nav-bar {
        
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__item {
    }

    &__link {
        display: inline-block;
        color: $White;
        transition: color 0.3s ease 0s;;
        &:hover{
           color: $Purple;
        }
    }
}
/*--------------------------------------------newSingle-------------------------------------------------------------------------*/
.page {
 

    &__newSingle {
    }
}
.newSingle {
    position: relative;

    &__image{

        img{
            //object-position: left;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;

        }
    }

    &__container {
        position: relative;
        z-index: 2;
        padding-bottom: 279px;
        @media (max-width: 999.97px){
            @include adaptivValue(padding-bottom, 279 , 200 );
        }    
    }

    &__title {

        font-weight: 700;
        font-size: 48px;
        line-height: 72/48 *1;
        padding-top: 412px;
        margin-bottom: 10px;
        @media (max-width: 999.97px){
            @include adaptivValue(padding-top, 412 , 130 );
            @include adaptivValue( font-size, 48 , 24 );
        }
    }

    &__songName {
        font-weight: 700;
        font-size: 100px;
        line-height: 150/100 *1;
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        margin-bottom: 50px;
        @media (max-width: 1099.97px){
            @include adaptivValue(font-size, 100 , 50 );
            @include adaptivValue( margin-bottom, 50 , 20 );
        }
    }

    &__body {
        @media (min-width:1100px){
            display: flex;
            align-items: center;
            justify-content: space-between;   
        }
        display: grid;
        justify-content: center;
        gap: 10px;

    }

    &__playPause {
        &_1{
            @media (max-width: 1099.97px){
                order: 3;
            }
        }
        @media (max-width: 1099.97px){
            justify-self: center;
        }

        img{
           
        }
    }

    &__bar {

    }

    &__time {
        &_3{
            @media (max-width: 1099.97px){
                order: 2;
            }
        }

        @media (min-width:1100px){
            width: 122px;  
        }

        @media (max-width: 1099.97px){
            display: flex;
            justify-content: space-between;
        }
    }
}
.bar {
    width: 888px;
    //width: 100%;
    height: 6px;
    background-color: aqua;
    border-radius: 5px;
    //align-self: center;
    @media (max-width: 1099.97px){
        @include adaptivValue(width, 888 , 290 );
    }
    &_2{
        @media (max-width: 1099.97px){
            order: 1;
        }
    }

    &__progress {
        background-color: $Purple;
        border-radius: 5px;
        height: 6px;
        width: 0px;
        display: flex;
        align-items: center;
    }
}
.time3{
    @media (max-width: 1099.97px){
        display: none;
    }
}
/*----------------------------------------advantage----------------------------------------------------------------------------------------*/
.page {

    &__advantage {
        margin-top: -149px;
        position: relative;
        z-index: 2;
    }
}
.advantage {

    &__container {
        padding-bottom: 179px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(290px, 1fr));
        gap: 30px;
    }

    &__item {
        position: relative;
    }
}
.item-advantage {

    &__image {
        position: relative;
        padding: 0 0 85.71528% 0;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }

    }

    &__body {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        background-color: $Purple;
        opacity: 0.7;
        border-radius: 20px 0px;
        width: 100%;
    }

    &__text {
        padding: 21px 0 21px 20px;
        font-weight: 500;
        font-size: 16px;
    }
}
/*--------------------------------------bringhtLights-------------------------------------------------------------------------------------*/

.page {

    &__bringhtLights {
    }
}
.bringhtLights {

    &__container {

        gap: 15px;
        padding-bottom: 153px;
        @media (min-width:768px){
            display: flex; 
        }
    }

    &__content {
        @media (min-width:768px){
            max-width: 540px;
        }
    }

    &__title {
        
        @media (max-width: 935.97px){
            font-size: 30px;
        }
    }
    

    &__text {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.7;
        margin-bottom: 60px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
        row-gap: 30px;
    }

    &__item {
        padding-left: 50px;
        position: relative;
        &::before{
            content: "";
            width: 30px;
            height: 30px;
            background: #7A66CC;
            border-radius: 10px 0px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            
        }
    }

    &__images {
        @media (max-width:767.97px){
            display: none;
        }
    }

    &__image {
        padding-left: 110px;
        padding-top: 60px;
        @media (max-width: 1049.97px){
            //@include adaptivValue(padding-left, 110 , 0);
           // @include adaptivValue(padding-top, 60 , 0);
           padding-left: 0px;
           padding-top: 160px;
        }
        @media (max-width: 677.97px){
            padding-top: 0px;
        }
    }
}
.text-bringhtLights {

    &__one {
        margin-bottom: 30px;
    }

    &__two {
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.page {

    &__comment {
        padding-bottom: 180px;
    }
}
.comment {

    &__container {
        position: relative;
    }

    &__body {
        position: relative;
        @media (min-width: 1100px){
            padding: 85px 0;
        }


    }

    &__body-text {
        position: relative;
        z-index: 2;
        padding: 50px 10px;
        border: 1px solid #FFFFFF;
        border-radius: 30px 0px;
        position: relative;
        @media (min-width: 1100px){
            padding: 50px 0 50px 80px;  
        }
    }

    &__text {
        font-weight: 400;
        @media (min-width: 1100px){
            max-width: 530px;  
        }

  
        &::before{
            content: "";
            width: 103px;
            height: 92px;
            position: absolute;
            top: 50px;
            left: 10px;
            background: url('../images/comment/“.png') 0 0 / 100% no-repeat;
            @media (min-width: 1100px){
                left: 80px;
            }
        }
        &::after{
            content: "";
            display: block;
            border: 1px solid #FFFFFF;
            margin: 25px 0;
        }
    }

    &__link {
        font-weight: 700;
        color: $Purple;
    }

    &__image {
        @media (min-width: 1100px){
            position: absolute;
            top: 0;
            left: 660px;
            display: block;   
        }
        display: none;


        img{
        }
    }
}
/*--------------------------------------------------lastTracke------------------------------------------------------------------------------------------------*/
.page {

    &__lastTracke {
    }
}
.lastTracke {

    &__container {
        padding-bottom: 180px;
        display: grid;
        grid-template-columns: repeat(1, minmax(290px, 1fr));
        gap: 60px;
        @media (min-width:1100px){
            grid-template-columns: repeat(2, minmax(290px, 1fr));
        }
        @media (max-width: 1099.97px){
            @include adaptivValue(gap, 60, 20);  
        }
    }

    &__images {
        text-align: center;
        padding-top: 37px;
    }

    &__image {

        img{
            //border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
            border: 18px solid $Purple;
            outline: 18px solid rgba(122, 102, 204, 0.3);
        }   


    }
    &__cover{
        @media (min-width:1100px){
              display: none;

        }
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        color: $Purple;
        //opacity: 0.7;
    }

    &__content {
        //width: 540px;

        @media (max-width: 1099.97px){
            display: grid;
            grid-template-columns: repeat(1, minmax(290px, 1fr));
            justify-content: center;
            align-items: center; 
        }
    }

    &__title {
        @media (max-width: 1099.97px){
            order: 2;
        }
        @media (max-width: 424.97px){
            @include adaptivValue(font-size, 48 , 36 );
        }

    }

    &__trackes {
        @media (max-width: 1099.97px){
            order: 3;
        }
        margin-bottom: 50px;
    }

    &__follows {
        @media (max-width: 1099.97px){
            order: 4;
        }
    }
}
.title-before {
}
.LastTracke {

    &__body {
        display: grid;
        gap: 10px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center; 
        //padding: 0 10px;
        @media (min-width: 1100px){
            display: flex;
            justify-content: space-between;
   
        }
    }

    &__playPause {

    }

    &__bar {

        @media (min-width: 1100px){
            width: 317px;    
        }

    }

    &__time {
    }
}
.LastTracke {

    &__playPause {

        &_1 {
            @media (max-width: 1099.97px){
                order: 3;
            }
        }
    }

    &__time {
        @media (min-width: 1100px){
            width: 122px;   
        }
        
        display: flex;
        justify-content: space-between;

        &_3 {
            @media (max-width: 1099.97px){
                order: 2;
            }
        }
    }
}
.Play {
    width: 25px;
    height: 40px;
    cursor: pointer;
}
.bar {
    cursor: pointer;



    &_2 {
        @media (max-width: 1099.97px){
            order: 1;
        }
    }

    &__progress {
    }
}
.time1 {
}
.time3 {
}
.time2 {
}
.trackes {

    &__nav-bar {
    }

    &__list {
        & *:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
    }
}
.item-trackes {
    cursor: pointer;
    display: flex;
    gap: 17px;


    &__number {
       //margin-right: 17px;
        
    }

    &__nameSong {
    }
}
.follows {
    @media (min-width: 425px){
        display: flex;  
        gap: 0; 
    }
    display: grid;
    gap: 10px;
    align-items: center;
   

    &__title {
        justify-self: center;
        @media (min-width: 425px){
            margin-right: 40px;
        }
    }

    &__body {
    }

    &__list {
        display: flex;
        gap: 30px;
        @media (max-width: 424.97px){
            justify-content: space-between;  
        }
    }

    &__item {
    }
}
.item-follows {
    display: flex;
    align-items: center;
    gap: 10px;

    &__link {
        color: $White;
        display: inline-block;
        img{
            width: 30px;
        }
        &:hover{
            color: #7A66CC;
                path{
                    fill: #7A66CC;
                }

        }
    }
}
.LastTracke {

    &__playPause {

        &_1 {
        }
    }
}
.playPause {
    @media (max-width: 1099.97px){
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    &__item {
        &_1{
            transform: rotate(180deg);
            @media (min-width: 1100px){
                display: none;      
            }
            display: block;
        }
        &_2{
            @media (min-width: 1100px){
                display: none;      
            }
            display: block;
        }
        img{
            width: 22px;
        }
    }
}


/*--------------------------------------------------------------------------------------------------------------------------------*/
.page {

    &__gallery {
    }
}
.gallery {

    &__container {
        padding-bottom: 180px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(255px, 1fr));
        gap: 30px;
    }

    &__item {
        &_big{
            @media (min-width: 600px){
                grid-row: span 2;
                display: block;
            }
            display: none;
        }
        &_colunm{

            @media (min-width: 600px){
                grid-column: span 2;
            }
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}














